body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    background-color: #15B5B0;
    padding: 20px 0;
}

.imgcabecalho {
    width: 30%;
    top: 50px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: purple;
    text-decoration: underline;
}

h1 {
    padding: 0 0 0 0px;
}

h3 {
    text-align: center
}

p {
    text-align: center;
}

.banner {
    width:100%;
}

.botoes {
    text-align: center;
}

.itens {
    font-size: 20px;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    margin: 10px;
    padding: 5px 5px;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    border: white;
    display: inline-block;
    text-align: center;
}

.itens:hover {
    background-position: right center; /* change the direction of the change here */
    color: black;
    text-decoration: none;
  }

.oferecer {
    background: white;
    padding: 20px;
}

.imagem-oferecer {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    display: block;
}

footer {
    background-color: #887BB0;
    color: white;
    text-align: center;
    padding: 10px;
}

footer img {
    max-width: 300px;
    max-height: 300px;
}